html, body{
    background-color: var(--DarkBlue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_window{
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    margin-top: 20px;
    font-weight: bold;
    color: var(--Red);
    font-size: 35px;
    line-height: 35px;
}

.message{
    color: var(--DarkBlue);
    font-size: 20px;
    margin-bottom: 20px;
}

.error_button{
    background-color: var(--Red);
    color: white;
    font-size: 20px;
    border-radius: 15px;
    padding: 2px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

a{
    text-decoration: none;
}

.error_button:hover{
    background-color: var(--DarkBlue);
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px;
}