.ticket_title_tag{
    padding: 4px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    font-stretch:ultra-condensed;
    border-radius: 5px;
    width: min-content;    
    height: 25px;
    line-height: 18px;
}

.ticket_list{
    padding: 25px;
    padding-top: 35px;
    width: 29%;
    background-color: var(--Red);
}

.ticket{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 16px;
    gap: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.ticket_title{
    color: var(--DarkBlue);
    font-size: 24px;
    line-height: 25px;
}

.ticket_tags{
    display: flex;
    gap: 5px;
}

.edit_buttons{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 4px;
    padding-right: 6px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    height: 25px;
    width: 67px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.edit_buttons:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--DarkBlue);
    cursor: pointer;
}

.ticket_data{
    font-size: 13px;
    vertical-align:middle;
}

.print_tickets{
    width: 100%;
    background-color: var(--White);
    border-radius: 16px;
    padding: 5px 15px 5px 15px;
    color: var(--DarkBlue);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_1{
    align-items: center;
    padding: 5px 10px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 15px;
    border-radius: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
    height: min-content;
}

.button_1:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--DarkBlue);
    cursor: pointer;
}

.sits_table{
    color: var(--White);
    margin: 20px auto;
}

.th_colums{
    width: 65px;
    height: 15px;
    font-size: 20px;
    line-height: 20px;
    background-color: var(--Red);
    border: 1px 0 solid var(--DarkBlue)
}

.th_rows{
    width: 15px;
    height: 65px;
    font-size: 20px;
    line-height: 20px;
    background-color: var(--Red);
    border: 1px 0 solid var(--DarkBlue)
}

td{
    background-color: var(--DarkBlue2);
}

.screen{
    text-align: center;
    font-size: 20px;
    background-color: var(--White);
    color: var(--DarkBlue);
}

td:hover{
    cursor: pointer;
}

.sit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sit_number{
    color: black;
    width: 35px;
    height: 18px;
    font-size: 15px;
    font-weight: bold;
    left: 14px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.input-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.label_select{
    position: absolute;
    line-height: 19px;
    z-index: 1;
    font-size: 13px;
    background-color: var(--DarkBlue);
    padding: 0 2px;
    color: var(--White);
}

.input_select{
    border: 2px solid var(--Red);
    border-radius: 20px;
    position: relative;
    outline: none;
    padding: 0 10px;
    height: 35px;
    width: 130px;
    color: var(--White);
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" width="24" height="24" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M759.2 419.8L697.4 358 512 543.4 326.6 358l-61.8 61.8L512 667z"/></svg>') !important;
    background: var(--DarkBlue);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}