.h1_payment{
    font-weight: 600;
    color: var(--White);
    font-size: 40px;
    justify-content: left;
}

.title_payment{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-bottom: 15px;
}

.title_payment img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(293deg) brightness(106%) contrast(101%);
}

.title_payment img:hover{
    filter: invert(46%) sepia(92%) saturate(5218%) hue-rotate(334deg) brightness(83%) contrast(91%);
}

.container{
    width: 100%;
    display: flex;
    min-height: 100%;
    height: max-content;
}

.lat_menu{
    width: 6%;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    padding-top: 20px;
    gap: 20px;
}

.menu_opt{
    background-color: var(--DarkBlue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.menu_opt:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--White);
    cursor: pointer;
}

.menu_opt_selected{
    background: var(--White);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content_payment{
    width: 94%;
    min-height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment_container{
    display: flex;
    border-radius: 31px;
    flex-direction: column;
    width: 40%;
    height: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center; 
    background: #413A4F;
    gap: 20px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
  }
  

  .button_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

.payment_button {
    display: flex;
    width: 212px;
    height: 40px;      
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Poppins';
    cursor: pointer;
    color: var(--White);
    background-color: var(--Red);
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px #00000040;
}
  .payment_button:hover {
    background-color: var(--Yellow);
    color: var(--DarkBlue);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

.input-wrapper_payment{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.label_text_title_payment{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 1.5em;
    background-color: #413A4F;
    padding: 0 2px;
    color: var(--White);
}

.input_text_title_payment{
    border: 2px solid var(--White);
    background-color: #413A4F;
    border-radius: 35px;
    position: relative;
    margin: 10px 0;
    height: 48px;
    width: 100%;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}
