<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartelera</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="lat_menu">
            <div class="menu_opt">
                <img src="../resource/svg/movie.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../resource/svg/food.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../resource/svg/stats.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../resource/svg/log-out.svg" height="30px">
            </div>
        </div>
        <div class="content">
            <h1>Cartelera</h1>
            <div class="movie_row">
                <div class="movie_data">
                    <div class="movie_pic">
                        <div style="background-image: url(../resource/images/movie.jpg);" class="movie">
                            <div class="movie_tag">2D</div>
                            <div class="movie_tag">SUB</div>
                        </div>
                    </div>
                    <div class="titles">The Banshees of Inshinereen</div>
                    <div class="schedule_row">
                        <div class="time_tag">16:00</div>
                        <div class="time_tag">18:00</div>
                        <div class="time_tag">20:00</div>
                    </div>
                </div>
                <div class="movie_data">
                    <div class="movie_pic">
                        <div style="background-image: url(../resource/images/movie.jpg);" class="movie">
                            <div class="movie_tag">2D</div>
                            <div class="movie_tag">SUB</div>
                        </div>
                    </div>
                    <div class="titles">The Banshees of Inshinereen</div>
                    <div class="schedule_row">
                        <div class="time_tag">16:00</div>
                        <div class="time_tag">18:00</div>
                        <div class="time_tag">20:00</div>
                    </div>
                </div>
                <div class="movie_data">
                    <div class="movie_pic">
                        <div style="background-image: url(../resource/images/movie.jpg);" class="movie">
                            <div class="movie_tag">2D</div>
                            <div class="movie_tag">SUB</div>
                        </div>
                    </div>
                    <div class="titles">The Banshees of Inshinereen</div>
                    <div class="schedule_row">
                        <div class="time_tag">16:00</div>
                        <div class="time_tag">18:00</div>
                        <div class="time_tag">20:00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tickets">
            <h1>Boletos</h1>
            <div class="ticket">
                <div class="ticket_title">Pelicula 1</div>
                <div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>