@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --DarkBlue: #342D42;
    --Red: #CD3446;
    --Yellow: #EED345;
    --White: #FFFFFF
}

body
{
    height: 100%;
}

html, body{
    background-color: var(--DarkBlue);
    height: 100%;
}

h1{
    font-weight: normal;
    color: var(--White);
    font-size: 35px;
    margin-bottom: 15px;
}

.titles{
    font-weight: bold;
    color: var(--Yellow);
    font-size: 23px;
    margin-bottom: 6px;
    text-align: center;
    width: 180px;

}

.container{
    width: 100%;
    display: flex;
    min-height: 100%;
    height: max-content;
}


.lat_menu{
    width: 6%;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    padding-top: 20px;
    gap: 20px;
    
}

.menu_opt{
    background-color: var(--DarkBlue);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.menu_opt:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--White);
    cursor: pointer;
}

.menu_opt_selected{
    background: var(--White);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.content{
    padding: 35px;
    width: 65%;
    min-height: 610px;
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
}