.content_home {
    width: 94%;
    min-height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_container {
    display: flex;
    border-radius: 31px;
    flex-direction: column;
    width: 85%;
    height: 600px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: #413A4F;
    gap: 20px;
}

.button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.home_button {
    display: flex;
    width: 310px;
    height: 54px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Poppins';
    cursor: pointer;
    color: black;
    background-color: var(--Yellow);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.home_button:hover {
    background-color: var(--Red);
    color: var(--White);
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px #00000040;
}