.content_login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_form{
    padding: 50px;
    background-color: var(--Red);
    border-radius: 20px;
    width: 32%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.title{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.input-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.label_text_title{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    background-color: var(--Red);
    padding: 0 2px;
    top: 2px;
    left: 25px;
    color: var(--DarkBlue);
}

.input_text_title{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    margin: 10px 0px 10px 0px;
    height: 48px;
    width: 100%;
    outline: none;
    padding: 0px 20px 0px 45px;
    color: var(--White);
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: left 20px center;
}

.error{
    color: var(--Yellow);
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.button{
    width: 100%;
    background-color: var(--DarkBlue);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    height: 40px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 15px;
}

.button:hover{
    cursor: pointer;
    color: var(--Red);
    box-shadow: 0px 0px 0px 0px;
}

.fotter{
    font-size: 13px;
    color: white;
    text-align: center;
}

::placeholder{
    color: var(--White);
    opacity: 0.7;
}