.movie_row{
    display: flex;
    width: 100%;
    gap: 90px;
    margin-bottom: 30px;
}

.movie_data{
    display: flex;
    flex-direction: column;
}

.movie_pic{
    width: 180px;
    height: 270px;
    border: 1px solid var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.movie{
    height: 240px;
    width: 155px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    gap: 5px;
}

.schedule_row{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.movie_tag{
    padding: 3px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 14px;
    border-radius: 5px;
    height: min-content;
    line-height: 16px;
}

.time_tag{
    padding: 5px;
    background-color: var(--Yellow);
    color: var(--DarkBlue);
    font-size: 16px;
    border-radius: 8px;
    width: min-content;    
    line-height: 18px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.time_tag:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.ticket_title_tag{
    padding: 4px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    font-stretch:ultra-condensed;
    border-radius: 5px;
    width: min-content;    
    height: 25px;
    line-height: 18px;
}

.ticket_list{
    padding: 25px;
    padding-top: 35px;
    width: 29%;
    background-color: var(--Red);
}

.ticket{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 16px;
    gap: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.ticket_title{
    color: var(--DarkBlue);
    font-size: 24px;
    line-height: 25px;
}

.ticket_tags{
    display: flex;
    gap: 5px;
}

.edit_buttons{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 4px;
    padding-right: 6px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    height: 25px;
    width: 67px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.edit_buttons:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--DarkBlue);
    cursor: pointer;
}

.ticket_data{
    font-size: 13px;
    vertical-align:middle;
}

.print_tickets{
    width: 100%;
    background-color: var(--White);
    border-radius: 16px;
    padding: 5px 15px 5px 15px;
    color: var(--DarkBlue);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print_button{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.print_button:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--Red);
    cursor: pointer;
}

.clean_button{
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clean_button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.label_text_title{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 1.5em;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_title{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    margin: 10px 0;
    height: 48px;
    width: 100%;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}