<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartelera</title>
    <link rel="stylesheet" href="cartelera_styles.css">
</head>

<body onload="loadMovies()">
    <div class="container">
        <div class="lat_menu">
            <div class="menu_opt_selected" >
                <a href="../cartelera/cartelera_view.html" style="height:30px;"><img src="../../resource/svg/movie.svg" height="30px"></a> 
            </div>
            <div class="menu_opt">
                <a href="../snacks/snacks_view.html" style="height:30px;"><img src="../../resource/svg/food.svg" height="30px"></a>
            </div>
            <div class="menu_opt">
                <img src="../../resource/svg/register.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../../resource/svg/log-out.svg" height="30px">
            </div>
        </div>
        <div class="content">
            <h1>Cartelera</h1>
            <div id="movies">
            </div>
        </div>
        <div class="ticket_list">
            <h1>Boletos</h1>
            <div id="ticket_list"></div>
            <div class="print_tickets">
                <div>Total: <span style="font-size: 25px; color: var(--Red);" id="total_price">0Bs</span></div>
                <div class="print_button">Imprimir</div>
            </div>
        </div>
    </div>
</body>
<script src="cartelera_script.js"></script>
</html>