.snack_options{
    display: flex;
    gap: 15px;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.snack_button{
    padding: 10px 15px;
    height: 32px; 
    line-height: 10px;     
    border: 2.2px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;
    font-family: 'Poppins';
    cursor: pointer;
    color: var(--White);
    background-color: transparent;
    font-weight: 400;
  }

.snack_button:hover {
    background-color: var(--White);
    color: black;
    font-weight: 600;
  }

.snack_button_selected {
    padding: 10px 15px;
    height: 32px; 
    line-height: 10px;        
    border: 2.2px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    background-color: var(--White);
    color: black;
    font-weight: 600;
  }


.products_row{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.product_list{
    padding: 25px;
    padding-top: 35px;
    width: 29%;
    background-color: var(--Red);
}

.product{
    width: 230px;
    background-color: var(--Red);
    border-radius: 13px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: var(--White);
    position: relative;
}

.product_pic{
    height: 130px;
    border-radius: 7px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 5px;
    transition: 300ms;
}

.product_pic:hover{
    box-shadow: 0px 0px 0px 0px #00000040;
    filter: brightness(1.15);
    cursor: pointer;
}

.product_data{
    display: flex; 
    justify-content: space-between; 
    font-weight: bold; 
    font-size: 17px;
}

.product_info_icon{
    position: absolute;
    z-index: 2;  
    top: 22px; 
    right: 22px; 
    height: 25px;
    cursor: help;
}

.product_info{
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 10px;
    width: 190px;
    background-color: var(--DarkBlue);
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 15px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
}

.product_info_hover:hover .product_info{
    visibility: visible;
    opacity: 1;
}

.bill{
    background-color: var(--White);
    border-radius: 10px;
    width: 100%;
    padding: 22px;
    color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 17px;
    white-space: nowrap;
    
}

.bill_title{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}

.product_column{
    width: 130px; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

.cant_column{
    width: 50px; 
    text-align: center
}

.bill_entry{
    display: flex;
    flex-direction: column;
}

.bill_row{
    display: flex;
    margin-bottom: 5px;
}

.entry_opts{
    display: flex;
    flex-direction: column;
}

.entry_opt{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.point{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    margin-left: 10px;
}

.entry_option{
    font-size: 13px;
    color: var(--DarkBlue);
    margin-left: 5px;
    width: 95px;
}

.input_select{
    border: 1.5px solid var(--DarkBlue);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    color: var(--DarkBlue);
    font-size: 12px;
    width: 140px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23000000" width="24" height="24" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M759.2 419.8L697.4 358 512 543.4 326.6 358l-61.8 61.8L512 667z"/></svg>') !important;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.pm_button{
    text-align: center;
    padding: 5px;
    line-height: 15px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 15px;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.pm_button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.input-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.label_text_title{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 1.5em;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_title{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    margin: 10px 0;
    height: 48px;
    width: 100%;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}

.print_bill{
    margin-top: 10px;
    width: 100%;
    background-color: var(--White);
    border-radius: 16px;
    padding: 5px 15px 5px 15px;
    color: var(--DarkBlue);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print_button{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    height: 25px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.print_button:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--Red);
    cursor: pointer;
}