.movie_row{
    display: flex;
    width: 100%;
    gap: 90px;
    margin-bottom: 30px;
}

.movie_data{
    display: flex;
    flex-direction: column;
}

.movie_pic{
    width: 180px;
    height: 270px;
    border: 1px solid var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.movie_ad{
    height: 240px;
    width: 155px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 7px;
    justify-content: space-between;
    background-color: gray;
}

.schedule_row{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.movie_tag{
    padding: 3px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 14px;
    border-radius: 5px;
    height: min-content;
    line-height: 16px;
}

.time_tag{
    padding: 5px;
    background-color: var(--Yellow);
    color: var(--DarkBlue);
    font-size: 16px;
    border-radius: 8px;
    width: min-content;    
    line-height: 18px;
    box-shadow: 0px 4px 4px 0px #00000040;
}


.edit_buttons{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 4px;
    padding-right: 6px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    height: 25px;
    width: 67px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.edit_buttons:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--DarkBlue);
    cursor: pointer;
}

.edit_form{
    padding: 25px;
    padding-top: 35px;
    width: 29%;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}


.label_file{
    margin-top: 7px;
    margin-bottom: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 18px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.label_file:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.input-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.label_text_title{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 3em;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_title{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    margin: 10px;
    height: 48px;
    width: 250px;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}

.label_select{
    position: absolute;
    line-height: 19px;
    z-index: 1;
    font-size: 13px;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_select{
    border: 2px solid var(--DarkBlue);
    border-radius: 20px;
    position: relative;
    margin: 10px;
    outline: none;
    padding: 0 10px;
    color: var(--White);
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" width="24" height="24" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M759.2 419.8L697.4 358 512 543.4 326.6 358l-61.8 61.8L512 667z"/></svg>') !important;
    background: var(--Red);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.label_text_time{
    position: absolute;
    line-height: 20px;
    z-index: 1;
    font-size: 17px;
    left: 20px;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_time{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 20px;
    position: relative;
    margin: 10px;
    width: 100px; 
    height: 60px; 
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 21px;
    text-align: center;
}

.pm_button{
    text-align: center;
    padding: 5px;
    line-height: 18px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 18px;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 27px;
    height: 27px;
}

.pm_button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.schedule_table{
    margin-top: 15px;
    border: 2px solid var(--DarkBlue);
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 130px;
    border-radius: 18px;
    gap: 7px;
    margin-bottom: 10px;
}

.schedule_table_row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.schedule{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 14px;
    border-radius: 5px;
    gap: 5px;
    width: 110px;
    height: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.schedule img{
    filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(128deg) brightness(105%) contrast(104%);
}

.schedule img:hover{
    filter: invert(26%) sepia(16%) saturate(7419%) hue-rotate(328deg) brightness(103%) contrast(93%);
}

