.content{
    padding: 35px;
    width: 90%;
    min-height: 610px;
    display: flex;
    flex-direction: column;
}


.main_form{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--White);
    border-radius: 15px;
}

.button{
    background-color: var(--DarkBlue);
    color: var(--White);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button:hover{
    box-shadow: 0px 0px 0px 0px;
    background: var(--Red);
    cursor: pointer;
}

.ci_input{
    border: 2px solid var(--DarkBlue);
    border-radius: 15px;
    color: var(--DarkBlue);
    outline: none;
    padding: 0 15px;
    font-size: 15px;
}

.ticket_list{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--White);
    border-radius: 10px;
    min-height: 400px;
    gap: 20px;
}

.ticket{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 20px;
    border-radius: 15px;
    gap: 5px;
}

.ticket_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: var(--DarkBlue);
    font-size: 30px;
    line-height: 30px;
}

.ticket_tag{
    background-color: var(--Red);
    color: var(--White);
    font-size: 15px;
    line-height: 15px;
    padding: 5px;
    border-radius: 5px;
}

.ticket_data{
    color: var(--Red);
    font-size: 18px;
    line-height: 18px;
}

.used{
    border: 2px solid var(--Red);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    color: var(--Red);
    font-size: 13px;
    line-height: 13px;
}

.sell_data{
    font-size: 13px;
}