.report_settings{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.report_options{
    display: flex;
    justify-content: left;
    gap: 15px;
    width: 65%;
    padding-top: 8px;
}

.report_date{
    display: flex;
    justify-content: left;
    gap: 15px;
    color: white;
    width: 29%;
  }

.edit_form{
    padding: 25px;
    padding-top: 35px;
    width: 29%;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.button_1{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--Red);
    color: var(--White);
    font-size: 13px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button_1:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--DarkBlue);
    cursor: pointer;
}


.label_file{
    margin-top: 7px;
    margin-bottom: 20px;
    display: flex;
    gap: 2px;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 18px;
    border-radius: 5px;
    gap: 5px;
    justify-content: center; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

.label_file:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.input-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.label_text_title{
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 3em;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_title{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    margin: 10px;
    height: 48px;
    width: 250px;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}

.label_select{
    position: absolute;
    line-height: 19px;
    z-index: 1;
    font-size: 13px;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_select{
    border: 2px solid var(--DarkBlue);
    border-radius: 15px;
    position: relative;
    margin: 10px;
    outline: none;
    padding: 0 10px;
    color: var(--White);
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23FFFFFF" width="24" height="24" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M759.2 419.8L697.4 358 512 543.4 326.6 358l-61.8 61.8L512 667z"/></svg>') !important;
    background: var(--Red);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.label_text_time{
    position: absolute;
    line-height: 20px;
    z-index: 1;
    font-size: 17px;
    left: 20px;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text_time{
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 20px;
    position: relative;
    margin: 10px;
    width: 100px; 
    height: 60px; 
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 21px;
    text-align: center;
}

.pm_button{
    text-align: center;
    padding: 5px;
    line-height: 18px;
    background-color: var(--DarkBlue);
    color: var(--White);
    font-size: 18px;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 27px;
    height: 27px;
}

.pm_button:hover{
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}

.cur_stock{
    color: var(--White);
    font-size: 15px;
    margin-bottom: 10px;
}

table {
    padding: 8px;
    background: #413A4F;
    border-radius: 10px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    text-align: left;
    padding: 8px;
}

