.content_report{
    padding: 35px;
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    width: 100%;
    height: 100%; 
}




.report_settings{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 20px; */
}

.report_options{
    display: flex;
    justify-content: left;
    gap: 15px;
    width: 55%;
    padding-top: 8px;
}

.report_button {
    width: 110px;
    height: 32px;      
    border: 2.2px solid white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-family: 'Poppins';
    cursor: pointer;
    color: var(--White);
    background-color: transparent;
    font-weight: 400;

  }
  .report_button:hover {
    background-color: var(--White);
    color: black;
    font-weight: 600;
  }

  .report_button_selected {
    width: 110px;
    height: 32px;      
    border: 2.2px solid white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 19px;
    font-family: 'Poppins';
    cursor: pointer;
    background-color: var(--White);
    color: black;
    font-weight: 600;
  }

  .report_date{
    display: flex;
    justify-content: left;
    gap: 15px;
    color: white;
    width: 40%;
    flex-direction: row;
    padding-left: 40px;
  }
  
  .div_button{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: end;
    padding-left: 20px;
    
  }

  form {
    display: flex;
    flex-direction: row;
    gap : 15px;
  }

  table {
    display: flex;
    padding: 8px;
    left: 203px;
    top: 231px;
    background: #413A4F;
    border-radius: 10px;
    border-collapse: collapse;
    padding-bottom: 0;
}
th, td {
    border-bottom: 1px solid #ddd;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    text-align: left;
    padding: 8px;
  }

  .report_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    align-items: center; 
  }

  .charts{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    height: auto;
    padding-bottom: 17px;
    gap: 20px;
    padding-top: 17px;
  }

  .chart1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 370px;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;  
  }

  .chart2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 370px;
    height: auto;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;
  }

  .chart3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 370px;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;  
  }

  .chart4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 370px;
    height: auto;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;
  }

  .chart5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 370px;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;  
  }

  .chart6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 370px;
    height: auto;
    background: var(--DarkBlue);
    border-radius: 10px;
    padding: 10px;
  }

  .chart_title1{
    display: flex;
    justify-content: center;
    width: 55%;
    padding-left: 240px;
  }

  .chart_title2{
    display: flex;
    justify-content: center;
    width: 35%;
    padding-left: 110px;
  }
  .chart_titles{
    display: flex;
    height: 30px;
    color: var(--DarkBlue);
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 10px;
    flex-direction: row;
  
  }

  .button_generate {
    display: flex;
    width: fit-content;
    height: 32px;      
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins';
    color: var(--White);
    background-color: var(--Red);
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-left: 10px;
    padding-right: 10px;
  }
  
.button_generate:hover {
    background-color: white;
    color: black;
    font-weight: 600;
}