<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="container">
        <div class="lat_menu">
            <div class="menu_opt">
                <img src="../../resource/svg/movie.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../../resource/svg/food.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../../resource/svg/stats.svg" height="30px">
            </div>
            <div class="menu_opt">
                <img src="../../resource/svg/log-out.svg" height="30px">
            </div>
        </div>
        <div class="content">
            <h1>Reporte</h1>
            <div class="report_options">
                <div class="report_buttons">Boletos</div>
                <div class="report_buttons">Snacks</div>
                <div class="report_buttons">Total</div>
            </div>
            
            <table>
                <tr>
                  <th style="width:120px">Fecha</th>
                  <th style="width:120px">Día</th>
                  <th style="width:194px">Película</th>
                  <th style="width:90px">Tipo</th>
                  <th style="width:120px">Horario </th>
                  <th style="width:120px">Precio (Bs)</th>
                  <th style="width:100px">Cantidad</th>
                  <th style="width:160px">Ganancia (Bs)</th>
                </tr>
                <tr>
                  <td>01/03/2023</td>
                  <td>Lunes</td>
                  <td>Película 1</td>
                  <td>3D</td>
                  <td>14:00 - 16:00</td>
                  <td>35</td>
                  <td>60</td>
                  <td>2100</td>
                </tr>
                <tr>
                    <td>01/03/2023</td>
                    <td>Lunes</td>
                    <td>Película 1</td>
                    <td>3D</td>
                    <td>14:00 - 16:00</td>
                    <td>35</td>
                    <td>60</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>01/03/2023</td>
                    <td>Lunes</td>
                    <td>Película 1</td>
                    <td>3D</td>
                    <td>14:00 - 16:00</td>
                    <td>35</td>
                    <td>60</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>01/03/2023</td>
                    <td>Lunes</td>
                    <td>Película 1</td>
                    <td>3D</td>
                    <td>14:00 - 16:00</td>
                    <td>35</td>
                    <td>60</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>01/03/2023</td>
                    <td>Lunes</td>
                    <td>Película 1</td>
                    <td>3D</td>
                    <td>14:00 - 16:00</td>
                    <td>35</td>
                    <td>60</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <th style="border-bottom: 0">Total (Bs)</th>
                    <td style="border-bottom: 0"></td>
                    <td style="border-bottom: 0"></td>
                    <td style="border-bottom: 0"></td>
                    <td style="border-bottom: 0"></td>
                    <td style="border-bottom: 0"></td>
                    <td style="border-bottom: 0"></td>
                    <th style="border-bottom: 0">12600</th>
                </tr>
            </table>
        </div>
        
    </div>
</body>
</html>