.button {
    color: white;
    background-color: var(--Red);
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button:hover {
    box-shadow: 0px 0px 0px 0px;
    color: var(--DarkBlue);
    cursor: pointer;
}

input {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--Red);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

.user {
    margin-top: 20px;
    width: 100%;
    background-color: var(--Red);
    padding: 10px 20px;
    box-shadow: 0px 0px 0px 0px;
    font-size: 12px;
}

.user_row {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.last_conect {
    font-size: 14px;
}

.tag {
    background-color: white;
    color: var(--DarkBlue);
    padding: 5px;
    line-height: 10px;
    height: min-content;
    border-radius: 10px;
}

.user_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    background-color: var(--DarkBlue);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.user_button:hover {
    box-shadow: 0px 0px 0px 0px;
    color: var(--Red);
    cursor: pointer;
}


.edit_form {
    padding: 35px 50px;
    width: 29%;
    background-color: var(--Red);
    display: flex;
    flex-direction: column;
    align-items: left;
}


.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.label_text {
    position: absolute;
    line-height: 15px;
    z-index: 1;
    font-size: 17px;
    left: 20px;
    background-color: var(--Red);
    padding: 0 2px;
    color: var(--DarkBlue);
}

.input_text {
    border: 2px solid var(--DarkBlue);
    background-color: var(--Red);
    border-radius: 35px;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    outline: none;
    padding: 0 20px;
    color: var(--White);
    font-size: 15px;
}

.radio_label {
    color: var(--White);
    display: flex;
    gap: 8px;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    padding: 0;
    color: var(--DarkBlue);
    width: 20px;
    height: 20px;
    border: 2px solid var(--DarkBlue);
    border-radius: 5px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 2px;
    transform: scale(0);
    transition: transform;
    box-shadow: inset 1em 1em var(--DarkBlue);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}